<dec f='codebrowser/code/tools/lcc/cpp/cpp.h' l='107' type='void control(Tokenrow * )'/>
<use f='codebrowser/code/tools/lcc/cpp/cpp.c' l='75' u='c' c='process'/>
<def f='codebrowser/code/tools/lcc/cpp/cpp.c' l='89' ll='253' type='void control(Tokenrow * trp)'/>
